# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Env
.env
.env.local
.env*.local

# OneDrive
*.lnk

# Database
prisma/dev.db
prisma/dev.db-journal

# Uploaded/generated images
public/uploads/
